body {
    font-family:sans-serif;
    background-color:rgb(151, 234, 247);
    overflow-x:hidden;
    
}

header{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(245, 240, 240);
    padding: 0px 0px;
    height: 80px;
    margin: 0px ;
    border: 1px solid black;
    margin-bottom: 1;
    
}


html{
    overflow-x:hidden
}

aside{
    background-color:lightblue;
    width: 35%;
    height: 490px;
    float: right; 
    margin: 0%;
}

#descarga1{
 width: 100%;
 height: 300px;

}
#video4{
    height: 70%;
    text-align: center;
    width: 50%;
}
#div1{
    background:lightblue;
}
#img6{
    height: 90%;
    margin: 11.5%;
    width:  515px;
}
#img5{
    width: 68%;
    height: 63%;
}


footer{
    background: darkgray;
    margin: 0%;
}

.navegacion {
width: 1500px;
margin: 0.5px auto;
background:rgb(11, 11, 11);
text-align: center;
    
}

.navegacion ul{
    
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block; /* Sirve para poner el texto del menu horizontal*/
}

.menu>li>a{
    display: block;
    padding: 15px 20px; /* tamaño del relleno*/
    color: rgb(249, 247, 252);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none; /*le quita la decoracion al texto*/
}

/*Efecto al pasar el mause*/
.menu li a:hover{
    color:hotpink;
}

/*Submenu1*/
.submenu1{
    position: absolute;
    background-color: rgb(236, 233, 240);
    visibility: hidden; 
    opacity: 0;
    transition:opacity 1.5s;

}

.submenu1 li a{
    display: block;
    padding: 15px;
    color: blue;
    font-family: initial;
    text-decoration: none;
}
/* Efecto para que se desplegue el menu solo cuando pase el mause*/
.menu li:hover .submenu1 {
visibility: visible;
opacity: 1;
}

/*_________________________________________________________________________*/

/*Submenu2*/
.submenu2{
    position: absolute;
    background-color: rgb(236, 233, 240);
    visibility: hidden; 
    opacity: 0;
    transition:opacity 1.5s;
 
}

.submenu2 li a{
    display: block;
    padding: 15px;
    color: blue;
    font-family: initial;
    text-decoration: none;
}
/* Efecto para que se desplegue el menu solo cuando pase el mause*/
.menu li:hover .submenu2 {
visibility: visible;
opacity: 1;
}